extend default
			
block content
	.add-page
		.form
			form.add-student
				p Please enter all of the following information about the new student being entered.
				input(type='text', placeholder='Student\'s First Name')
				p
				input(type='text', placeholder='Student\'s Last Name')
				p
				input(type='text', placeholder='Student ID')
				button Add New Student