doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Student Acheivement Tracker
  body
    .header
      h1.page-title Please Log-In

    ul.nav
      
    
    .main-content
      block content

    .footer
      p This website is free and open-source. To view the source code visit <a href="https://github.com/Rpotter8/TCSS360"> this</a>.
script.
  function move() {

    window.location.href = '/newpage'

  }  
