extend default
			
block content
	.delete-page
		.form
			form.delete-student
				p Please enter id of the student to delete.
				input(type='text', placeholder='Student ID')
				button Delete Student