extend default

block content
    .login-page
      .form
        form.register-form
          input(type='text', placeholder='name')
          |       
          input(type='password', placeholder='password')
          |       
          input(type='text', placeholder='email address')
          |       
          button create
          |       
          p.message
            | Already registered? 
            a(href='#') Sign In
        |     
        form.login-form
          input(type='text', placeholder='username')
          |       
          input(type='password', placeholder='password')
          |       
          button login
    |   


