extend default
			
block content
	.lookup-student-page
		.form
			form.lookup-student
				p Please enter id of the student to look up.
				input(type='text', placeholder='Student ID')
				input(type='text', placeholder='Student\'s First Name')
				button Find Student