//View to be displayed after succesfull login.

extend default
block content
	.main_content
		.main-page
			.form
				form.select-form
					button Add Student
					button Edit Student
					button Delete Student
					button Student Report
					button Data Report
					button Lookup Student


