//View to be displayed after succesfull login.

doctype html
html
	head
		
		body
			.header
				h1.page-title Please Select an Option

				.main_content
					button add student
					button edit student
					button delete student
					button Student Report
					button Data Report
					button Lookup Student

					.footer
						p This website is free and open-source. To view the source code visit <a href="https://github.com/Rpotter8/TCSS360"> this</a>.