extend default
			
block content
	.student-report-page
		.form
			form.student-report
				p Please enter the inforation to generate the students.
				input(type='text', placeholder='Job Title')
				input(type='text', placeholder='Degree Level')
				input(type='text', placeholder='Term Graduated')
				input(type='text', placeholder='Year Graduated')
				input(type='text', placeholder='Location')
				input(type='text', placeholder='Skills')
				input(type='radio', name='Full Time')
				input(type='radio', name='Internship')
				input(type='text', placeholder='GPA')
				input(type='text', placeholder='Salary')
				button Generate Students